.footer{
    background-color: #282828;

}
.footer .container {
    margin: auto;
    max-width: 1300px;
    height: 11rem;
    margin-top: 5rem;
  }
  .icons {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    color: #00ffff;
    text-shadow: 0 0 75px #00ffff;
    justify-content: center;
    align-items: center;
  }
  .icons i{
    border: 1px solid #00ffff;
    transition: .5s;
    border-radius: 20px;
    padding: 5px;
  }
  .footer .icons i:hover {
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 15px #00ffff;
    transform: translateY(-5px);
    background-color: #00ffff;

  }
  .footer .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .links li{
    list-style: none;
    padding: 1.5rem;
    padding-bottom: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .1s ease-in-out;
    border-bottom: 2px solid transparent;

  }
  .footer .links li:hover{
    border-bottom: 2px solid #00ffff;    
  }
  .footer p{
    text-align: center;
    padding-bottom: 1rem;
    color: #66f2f2;
    text-shadow: 0 0 20px #00ffff;
    font-size: 1rem;
  }